# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt

dash[dev,testing]>=1.15.0
flask>=2.2.5 # not directly required, pinned by Snyk to avoid a vulnerability
